# Ignore dependencies that are managed with Composer.
# We only want to commit our own stuff, that is unique to this project. So we do not
# commit the vendor directory, not even autoload.php and vendor/siel/acumulus. If you want
# to use this project from GitHub instead of via WordPress.org, you will have to run
# "composer update --no-dev" yourself.
composer.lock
/vendor/*

# We use test classes and utilities that are not our own, but from the WordPress and
# WooCommerce projects, but are not defined as composer packages. These are also stored
# under the tests dir via custom actions, but not committed.
/tests/.phpunit.result.cache
/tests/*/
# Our own tests are committed,
!/tests/WooCommerce
# but not the *.latest.json files
/tests/WooCommerce/Data/*.latest.json
# Local config, create your own using wp-tests-config-sample.php.
/tests/wp-tests-config.php

# PHPStorm
.idea/*

# Resources shared with other modules, committed in libAcumulus.
# We need these in svn, ths in wp-org
#acumulus-invoice.png
#acumulus-packing-slip.png
#icon-pdf.svg
#siel-logo.svg
#leesmij-indien-hulp-nodig.txt
#license.txt
#licentie-nl.pdf
