# patches, diffs, merges
*.patch
interdiff.txt
*.orig
*.bak
*.old

# PHPStorm, svn
.idea/*
svn/*

# Resulting installer files
/*.zip

# Shared library
lib/siel/*

# Resources shared with other modules
acumulus-invoice-28.png
acumulus-packing-slip-28.png
icon-pdf.svg
siel-logo.svg
leesmij-indien-hulp-nodig.txt
license.txt
licentie-nl.pdf
